<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="conteudo">
                <form method="post" action="http://localhost/modelo-fc/?pagina=cadastro&metodo=insert">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Coloque seu email aqui">
                        <small id="emailHelp" class="form-text text-muted">O e-mail não será compartilhado com
                            ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nome</label>
                        <input name="nome" type="name" class="form-control" id="exampleInputPassword1"
                            placeholder="Coloque seu nome aqui">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input name="senha" type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Coloque sua senha aqui">
                    </div>

                    <button type="submit" value="Cadastrar" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>