
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style = "text-align: center" class="row">
        <div class="col">
                <H1>SUCESSO</H1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="conteudo">
               <a class="btn btn-dark btn-block" href="http://localhost/modelo-fc/?pagina=listar"> <h2>Listar</h2></a>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>